.deck {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 162px;
  height: 100%;
  border: 1px solid #000000;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  overflow: hidden;
  box-shadow: 4px 5px 7px -5px rgba(0, 0, 0, 0.3);
}

@media (prefers-color-scheme: dark) {
  .deck {
    border-color: #4b5563;
  }
}

.image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
}
